[Unit]
Description=mostliked
After=network.target syslog.target

[Service]
Type=simple
User=eric
WorkingDirectory=/home/eric/bsky-feeds
ExecStart=/home/eric/bsky-feeds/bin/mostliked
TimeoutSec=15
Restart=always
RestartSec=30
StandardOutput=journal

[Install]
WantedBy=multi-user.target
